DemoWebApplication2/Web References/service2/DemoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://DemoWebSer/Calc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://DemoWebSer/Calc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://DemoWebSer/Calc">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MUL_x0020_2_x0020_NUM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MUL_x0020_2_x0020_NUMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MUL_x0020_2_x0020_NUMResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Getcalculation">
        <s:complexType />
      </s:element>
      <s:element name="GetcalculationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetcalculationResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProdData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProdDataResult" type="tns:ArrayOfClsProductInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsProductInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsProductInfo" nillable="true" type="tns:clsProductInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsProductInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MUL_x0020_2_x0020_NUMSoapIn">
    <wsdl:part name="parameters" element="tns:MUL_x0020_2_x0020_NUM" />
  </wsdl:message>
  <wsdl:message name="MUL_x0020_2_x0020_NUMSoapOut">
    <wsdl:part name="parameters" element="tns:MUL_x0020_2_x0020_NUMResponse" />
  </wsdl:message>
  <wsdl:message name="GetcalculationSoapIn">
    <wsdl:part name="parameters" element="tns:Getcalculation" />
  </wsdl:message>
  <wsdl:message name="GetcalculationSoapOut">
    <wsdl:part name="parameters" element="tns:GetcalculationResponse" />
  </wsdl:message>
  <wsdl:message name="GetProdDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProdData" />
  </wsdl:message>
  <wsdl:message name="GetProdDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProdDataResponse" />
  </wsdl:message>
  <wsdl:portType name="DemoWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">First method</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mul2num">
      <wsdl:input name="MUL_x0020_2_x0020_NUM" message="tns:MUL_x0020_2_x0020_NUMSoapIn" />
      <wsdl:output name="MUL_x0020_2_x0020_NUM" message="tns:MUL_x0020_2_x0020_NUMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getcalculation">
      <wsdl:input message="tns:GetcalculationSoapIn" />
      <wsdl:output message="tns:GetcalculationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProdData">
      <wsdl:input message="tns:GetProdDataSoapIn" />
      <wsdl:output message="tns:GetProdDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoWebServiceSoap" type="tns:DemoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://DemoWebSer/Calc/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul2num">
      <soap:operation soapAction="http://DemoWebSer/Calc/MUL 2 NUM" style="document" />
      <wsdl:input name="MUL_x0020_2_x0020_NUM">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MUL_x0020_2_x0020_NUM">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getcalculation">
      <soap:operation soapAction="http://DemoWebSer/Calc/Getcalculation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdData">
      <soap:operation soapAction="http://DemoWebSer/Calc/GetProdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DemoWebServiceSoap12" type="tns:DemoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://DemoWebSer/Calc/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul2num">
      <soap12:operation soapAction="http://DemoWebSer/Calc/MUL 2 NUM" style="document" />
      <wsdl:input name="MUL_x0020_2_x0020_NUM">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MUL_x0020_2_x0020_NUM">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getcalculation">
      <soap12:operation soapAction="http://DemoWebSer/Calc/Getcalculation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdData">
      <soap12:operation soapAction="http://DemoWebSer/Calc/GetProdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoWebService">
    <wsdl:port name="DemoWebServiceSoap" binding="tns:DemoWebServiceSoap">
      <soap:address location="http://localhost/webservicedemo/DemoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DemoWebServiceSoap12" binding="tns:DemoWebServiceSoap12">
      <soap12:address location="http://localhost/webservicedemo/DemoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>